# User-specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.nuget.props
*.nuget.targets

# Build results

[Aa]rtifacts
[Bb]in
[Oo]bj/
[Pp]ackages/

*.[Oo]bj
*.suo
*.ncb
*.aps
*.user
*.ccscc
*.cache
*.bak
*.swp
*.pidb
*.userprefs
*.FileListAbsolute.txt
*.[Cc]ache
*.tlog
*.vs10x
*.exe.manifest
*.mdb
*.docstates
*.vsp
*.pdb
*.nuget.props
*.nuget.targets
Thumbs.db
build.force

Cosmos.Assembler.Log
UpgradeLog*.htm
source/_ReSharper.Caches/
